@font-face {
    src: url(./assets/MaplestoryBold.ttf);
    font-family: "MaplestoryBold";
    font-display: swap;
}

@font-face {
    src: url(./assets/MaplestoryLight.ttf);
    font-family: "MaplestoryLight";
    font-display: swap;
}

* {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div#root {
    overflow: auto;
    min-width: 100%;
}
